<footer>
    <section class="footer_content">
      <article>
        <p>Equipe</p>
        <ul>
          <li>
            <a href="https://github.com/Mysteriou85" target="_blank">Guillaume</a>
          </li>
          <li>
            <a href="https://github.com/AlshamiWasin" target="_blank">Mohammad</a>
          </li>
          <li>
            <a href="https://github.com/tgentreau" target="_blank">Thomas</a>
          </li>
          <li>
            <a href="https://github.com/thibaultMA" target="_blank">Thibault</a>
          </li>
        </ul>
      </article>
      <article>
        <p>Navigation</p>
        <ul>
          <li><a routerLink="/acceuil">Accueil</a></li>
          <li><a routerLink="/home/forum">Forum</a></li>
        </ul>
      </article>
    </section>
    <section class="copyRight">
      <div class="barre"></div>
      <div class="copy"><p>&copy; - Diginamic CDA/D02 2022 G4</p></div>
      <div class="barre"></div>
    </section>
  </footer>
