@import '../../assets/variable.scss';

footer{
    background: $black-color;
    color: $bcg-txt-color;
    .footer_content{
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin: auto;
        list-style-type: disc;
        flex-flow: wrap;
        a{
            text-decoration: none;
            color: inherit;
        }   
        h5{
            text-decoration: underline;
            margin: 10px;
        }
    }
    .copyRight{
        display: grid;
        width: 90%;
        margin: auto;
        grid-template-columns: 1fr auto 1fr;
        align-items: center;
        @media (max-width:355px){
            grid-template-columns: 1fr ;
        }
        .copy{
            width: 100%;
            margin:  20px;
            @media (max-width:355px){
                grid-template-columns: 1fr ;
                margin:  auto;
                text-align: center;
            }
        }
        .barre{
            height: 3px;
            width:100%;
            
            background:$bcg-txt-color;
            @media (max-width:355px){
                display: none;
            }
        }
    }
}