<div class="forum">
  <div class="forumFilAriane">
    <p class="forumFilArianeText">Accueil > Forum > {{rubrique.libelle}} > {{topic.libelle}}</p>
  </div>
  <div class="forumBodyItem"*ngIf="posts == null">
    Il n'y a pas de posts pour le moment :(
  </div>
  <div class="forumBody">
    <div class="forumBodyItem" *ngFor="let post of posts">
      <div class="headPost">
        <div class="userPost">
          <i class="fa-solid fa-user"></i>
          <span>{{post.utilisateur.prenom}}: Posté le {{post.createdDate | date:"dd/MM/YYYY"}} à {{post.createdDate | date: "HH:mm"}}</span>
        </div>
        <div class="iconsSelfPost" *ngIf="!isVisitor && canUpdateTopic(post.utilisateur)">
          <i class="fa-solid fa-pen" (click)="openEditModal(post.id)"></i>
          <i class="fa-solid fa-xmark" (click)="deletePost(post.id)"></i>
        </div>
        <div class="iconsPost" *ngIf="!isVisitor && !canUpdateTopic(post.utilisateur)">
<!--          <i class="fa-solid fa-reply"></i>-->
          <i class="fa-solid fa-circle-exclamation"></i>
        </div>
      </div>
      <div class="post">
        <p>{{post.content}}</p>
      </div>
    </div>
    <form class="forumBodyItem" [formGroup]="form" *ngIf="!isVisitor">
            <textarea
              formControlName="content"
              cols="30"
              rows="10"
              placeholder="Votre message..."
              required
              minlength="3"
            ></textarea>
      <div *ngIf="form.status === 'INVALID'">
        <div *ngIf="form.controls['content'].errors?.['required']" class="err">
          Le message ne peut pas être vide
        </div>
        <div *ngIf="form.controls['content'].errors?.['minlength']" class="err">
          Le message doit faire 3 caractères au minimum
        </div>
      </div>
      <button class="replyPost" id="btn-answer" (click)="createPost()">Répondre</button>
    </form>
  </div>
</div>





<div class="modal-overlay" [class.open-modal]="editModalVisibility">
  <div class="modal-container">
    <div>
      <div>
        <h2>Edit post</h2>
      </div>
      <div [formGroup]="formEdit">
         <textarea
           class="postEditModaltextarea"
           formControlName="content"
           cols="30"
           rows="5"
           [value]="modifiedPostContent"
           required
           minlength="3"
         ></textarea>
        <div *ngIf="formEdit.status === 'INVALID'">
          <div *ngIf="formEdit.controls['content'].errors?.['required']" class="err">
            Le libellé est requis
          </div>
          <div *ngIf="formEdit.controls['content'].errors?.['minlength']" class="err">
            Le libellé doit faire 3 caractères au minimum
          </div>
        </div>
      </div>
      <div>
        <button class="annuler-btn" (click)="closeEditModal()">Annuler</button>
        <button class="valider-btn" type="submit" (click)="updatePost()">Valider</button>
      </div>
    </div>
  </div>
</div>
