<div class="forum" >
    <div class="forumFilAriane">
        <p class="forumFilArianeText">Accueil > Forum > rubrique 1 > topic 1</p>
    </div>
    <div class="forumBody">
        <div class="forumBodyItem">
            <div class="headPost">
                <div class="userPost">
                    <i class="fa-solid fa-user"></i>
                    <span>Dark Sasuke: Posté le 12/10/2022 à 14h58</span>
                </div>
                <div class="iconsSelfPost">
                    <i class="fa-solid fa-pen"></i>
                    <i class="fa-solid fa-xmark"></i>
                </div>
            </div>
            <div class="post">
                <p>Le commentaire super cool</p>
            </div>
        </div>
        <div  class="forumBodyItem">
            <div class="headPost">
                <div class="userPost">
                    <i class="fa-solid fa-user"></i>
                    <span>Plups: Posté le 12/10/2022 à 15h00</span>
                </div>
                <div class="iconsPost">
                    <i class="fa-solid fa-reply"></i>
                    <i class="fa-solid fa-circle-exclamation"></i>
                </div>
            </div>
            <div class="post">
                <p>Le commentaire super cool</p>
            </div>
        </div>
        <div  class="forumBodyItem">
            <div class="headPost">
                <div class="userPost">
                    <i class="fa-solid fa-user"></i>
                    <span>Plups: Posté le 12/10/2022 à 15h10</span>
                </div>
                <div class="iconsPost">
                    <i class="fa-solid fa-reply"></i>
                    <i class="fa-solid fa-circle-exclamation"></i>
                </div>
            </div>
            <div class="post">
                <p>Le commentaire super cool</p>
            </div>
        </div>
        <div  class="forumBodyItem">
            <div class="headPost">
                <div class="userPost">
                    <i class="fa-solid fa-user"></i>
                    <span>Plups: Posté le 12/10/2022 à 15h10</span>
                </div>
                <div class="iconsPost">
                    <i class="fa-solid fa-reply"></i>
                    <i class="fa-solid fa-circle-exclamation"></i>
                </div>
            </div>
            <div class="post">
                <p>Le commentaire super cool</p>
            </div>
        </div>
        <div class="forumBodyItem">
            <textarea name="" id="" cols="30" rows="10" placeholder="Votre message..."></textarea>
            <button class="replyPost">Répondre</button>
        </div>
    </div>
</div>
