<div class="wrap">
  <table id="table">
    <thead>
    <tr>
      <th>
        <div class="thead">
          Nom
          <i class="fa-solid fa-sort-down" (click)="sortNameByAscOrder()"></i>
        </div>
      </th>
      <th>
        <div class="thead">
          Prénom
          <i class="fa-solid fa-sort-down" (click)="sortFirstNameByAscOrder()"></i>
        </div>
      </th>
      <th>
        <div class="thead">
          Rôle
          <i class="fa-solid fa-sort-down" (click)="sortRoleByAscOrder()"></i>
        </div>
      </th>
      <th>Supprimer</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of utilisateurs">
      <td>{{ user.nom }}</td>
      <td>{{ user.prenom }}</td>
      <td>
        <div *ngIf="user.role === 'ROLE_USER'">User</div>
        <div *ngIf="user.role === 'ROLE_ADMIN'">Admin</div>
      </td>
      <td>
        <i class="fa-solid fa-xmark supp" (click)="deleteUtilisateur(user.id)"></i>
      </td>
    </tr>
    </tbody>
  </table>

</div>

