<div class="forum">
  <div class="forumHeader">
    <h2 class="forumHeaderText">Forum</h2>
    <i class="fa-solid fa-plus forumHeaderIcon modal-btn"></i>
  </div>
  <div class="forumFilAriane">
    <p class="forumFilArianeText">Accueil > Forum</p>
  </div>
  <div class="forumBody">
    <div *ngIf="rubriques == null">
      <div class="forumBodyItem">
        <h3 class="forumItemText">Il n'y a pas de rubrique pour le moment :(</h3>
      </div>
    </div>
    <div *ngFor="let rubrique of rubriques">
      <div class="forumBodyItem">
        <h3 class="forumItemText" [routerLink]="rubrique.id.toString()">{{rubrique.libelle}}</h3>
        <span>15 topics</span>
        <div>
          <i
            (click)="openVerticale($event, rubrique.id)"
            [id]="'icon'+rubrique.id"
            class="fa-solid fa-ellipsis-vertical ellipse"
          ></i>

          <nav id="nav">
            <div class="d-none nav-rubrique " [id]="'rub'+rubrique.id">
              <div>
                <ul >
                  <li [id]="'edit'+rubrique.id" ><a>Modifier la rubrique</a></li>
                  <li [id]="'delete'+rubrique.id"><a (click)="deleteRubrique(rubrique.id)">Supprimer la rubrique</a></li>
                </ul>
              </div>
              <div class="xContainer">
                <i
                  (click)="closeVerticale(rubrique.id)"
                  [id]="'Xicon'+rubrique.id"
                  class="fa-solid fa-xmark d-none "
                ></i>
              </div>
            </div>
          </nav>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="modal-overlay" [class.open-modal]="addClass">
  <div class="modal-container">
    <div>
      <div>
        <h2>Ajouter Rubrique</h2>
      </div>
      <form
        [formGroup]="form"
      >
        <input
          type="text"
          formControlName="libelle"
          placeholder="Nom de la rubrique"
          required
          minlength="3"
        />
        <div *ngIf="form.status === 'INVALID'">
          <div *ngIf="form.controls['libelle'].errors?.['required']" class="err">
            Le libellé est requis
          </div>
          <div *ngIf="form.controls['libelle'].errors?.['minlength']" class="err">
            Le libellé doit faire 3 caractères au minimum
          </div>
        </div>
      </form>
      <div>
        <button class="annuler-btn">Annuler</button>
        <button class="valider-btn" type="submit" (click)="createRubrique()">Valider</button>
      </div>
    </div>
  </div>
</div>
