<div class="forum">
  <div class="forumHeader">
    <h2 class="forumHeaderText">Forum</h2>
    <i class="fa-solid fa-plus forumHeaderIcon modal-btn"></i>
  </div>
  <div class="forumFilAriane">
    <p class="forumFilArianeText">Accueil > Forum</p>
  </div>
  <div class="forumBody">
    <div *ngIf="rubriques == null">
      <div class="forumBodyItem">
        <h3 class="forumItemText">Il n'y a pas de rubrique pour le moment :(</h3>
      </div>
    </div>
    <div *ngFor="let rubrique of rubriques">
      <div class="forumBodyItem">
        <h3 class="forumItemText">{{rubrique.libelle}}</h3>
        <span>15 topics</span>
        <i
          (click)="openVerticale($event, rubrique.id)"
          id="icon"
          class="fa-solid fa-ellipsis-vertical ellipse"
        ></i>
        <i
          (click)="closeVerticale($event)"
          id="Xicon"
          class="fa-solid fa-xmark d-none"
        ></i>
        <nav id="nav">
            <ul id="rub" class="nav-rubrique d-none">
                <li><a>Modifier la rubrique</a></li>
                <li><a (click)="deleteRubrique(rubrique.id)">Supprimer la rubrique</a></li>
            </ul>
        </nav>
      </div>
    </div>
  </div>
</div>

<div class="modal-overlay" [class.open-modal]="addClass">
  <div class="modal-container">
    <div>
      <div>
        <h2>Ajouter Rubrique</h2>
      </div>
      <form
        [formGroup]="form"
      >
        <input
          type="text"
          formControlName="libelle"
          placeholder="Nom de la rubrique"
          required
          minlength="3"
        />
        <div *ngIf="form.status === 'INVALID'">
          <div *ngIf="form.controls['libelle'].errors?.['required']" class="err">
            Le libellé est requis
          </div>
          <div *ngIf="form.controls['libelle'].errors?.['minlength']" class="err">
            Le libellé doit faire 3 caractères au minimum
          </div>
        </div>
      </form>
      <div>
        <button class="annuler-btn">Annuler</button>
        <button class="valider-btn" type="submit" (click)="createRubrique()">Valider</button>
      </div>
    </div>
  </div>
</div>
