<div class="forum">
  <div class="forumHeader">
    <h2 class="forumHeaderText">Forum</h2>
    <i class="fa-solid fa-plus forumHeaderIcon modal-btn" (click)="onClickChangeAddModalVisibility()" *ngIf="isAdmin"></i>
  </div>
  <div class="forumFilAriane">
    <p class="forumFilArianeText">Accueil > Forum</p>
  </div>
  <div class="forumBody">
    <div *ngIf="rubriques == null">
      <div class="forumBodyItem">
        <h3 class="forumItemText">Il n'y a pas de rubrique pour le moment :(</h3>
      </div>
    </div>
    <div *ngFor="let rubrique of rubriques">
      <div class="forumBodyItem">
        <h3 class="forumItemText" [routerLink]="rubrique.id.toString()">{{rubrique.libelle}}</h3>
        <span>{{rubrique.nbreTopics}} topics</span>
        <div *ngIf="isAdmin">
          <i
            (click)="openVerticale($event, rubrique.id)"
            [id]="'icon'+rubrique.id"
            class="fa-solid fa-ellipsis-vertical ellipse"
          ></i>

          <nav id="nav">
            <div class="d-none nav-rubrique " [id]="'rub'+rubrique.id">
              <div>
                <ul>
                  <li ><a class="editRubriqueButton" (click)="openEditModalVisibility(rubrique.id)" >Modifier la rubrique</a></li>
                  <li><a (click)="deleteRubrique(rubrique.id)">Supprimer la rubrique</a></li>
                </ul>
              </div>
              <div class="xContainer">
                <i
                  (click)="closeVerticale(rubrique.id)"
                  [id]="'Xicon'+rubrique.id"
                  class="fa-solid fa-xmark d-none "
                ></i>
              </div>
            </div>
          </nav>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="modal-overlay" [class.open-modal]="addClass">
  <div class="modal-container">
    <div>
      <div>
        <h2>Ajouter Rubrique</h2>
      </div>
      <form
        [formGroup]="form"
      >
        <input
          type="text"
          formControlName="libelle"
          placeholder="Nom de la rubrique"
          required
          minlength="3"
        />
        <div *ngIf="form.status === 'INVALID'">
          <div *ngIf="form.controls['libelle'].errors?.['required']" class="err">
            Le libellé est requis
          </div>
          <div *ngIf="form.controls['libelle'].errors?.['minlength']" class="err">
            Le libellé doit faire 3 caractères au minimum
          </div>
        </div>
      </form>
      <div>
        <button class="annuler-btn" (click)="onClickChangeAddModalVisibility()">Annuler</button>
        <button class="valider-btn" type="submit" (click)="createRubrique()">Valider</button>
      </div>
    </div>
  </div>
</div>


<div class="modal-overlay" id="editModalOverlay" [class.open-modal]="editModal">
  <div class="modal-container" id="editModalContainer">
    <div>
      <div>
        <h2>Edit Rubrique</h2>
      </div>
      <form
        [formGroup]="form"
      >
        <input
          [placeholder]="modifiedRebruqieName"
          type="text"
          formControlName="libelle"
          required
          minlength="3"
        />
        <div *ngIf="form.status === 'INVALID'">
          <div *ngIf="form.controls['libelle'].errors?.['required']" class="err">
            Le libellé est requis
          </div>
          <div *ngIf="form.controls['libelle'].errors?.['minlength']" class="err">
            Le libellé doit faire 3 caractères au minimum
          </div>
        </div>
      </form>
      <div>
        <button class="annuler-btn"  (click)="closeChangeEditModalVisibility()">Annuler</button>
        <button class="valider-btn" type="submit" (click)="updateRubrique()" >Valider</button>
      </div>
    </div>
  </div>
</div>
