a {
    color: #A9E5BB;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 5% 0;

    .wrapper {
        background-color: #2D1E2F;
        color: #A9E5BB;
        padding: 3%;
        form div {
            display: flex;
            flex-direction: column;
        }
        input {
            margin: 10% 0;
            border: 1px solid rgb(133, 133, 133);
            border-radius: 5px;
            height: 30px;
            width: 200px;
        }
        input[type="submit"] {
            width: 205px;
            background-color: rgb(22, 167, 17);
            border: none;
            border-radius: 5px;
            height: 30px;
            cursor: pointer;
            color: white;
            transition: .5s;
        }
        input[type="submit"]:hover {
            background-color: rgb(31, 199, 25);
            transform: translateY(-2px);
            transition: .5s;
            box-shadow: 0px 5px 5px 0px rgba(58, 58, 58, 0.75);
        }
        p, a {
            text-align: center;
            font-size: 10px;
        }
    }

}

.err {
    font-size: 12px;
    overflow-wrap: break-word;
    color: rgb(207, 36, 36);
}