$bcg-txt-color: #A9E5BB;
$bcg-txt-color-hover: #71e193;
$black-color: #2D1E2F;

//fil d'ariane
$filAriane-color:#2D1E2F;
$filAriane-opacity:0.6;

//block des Rubrique
$rubrique-bcg-color:#F6F1EA;

$green-color: rgb(22, 167, 17);
$red-color: rgb(207, 36, 36);
$bcg-body-color: #F6F1EA;
$secondary-bcg-body-color: #DAD8D5;

//pagination
$pag-bcg-color: #2D1E2F;
$pag-text-color: #A9E5BB;
//pag-text selected
$pag-selected-text-color: black;
$pag-selected-bcg-color: #A9E5BB;
//pag-text ho
$pag-hover-text-color:#71e193;
