@import '../../_shared/assets/variable.scss';

.map-container {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    .favoris-frame {
        border: 1px solid black;
        width: 25%;
        .favoris {
            color: purple;
            background: #000;
        }
    }
}

.map-frame {
    border: 1px solid black;
    width: 70%;
}



#map {
    min-height: 600px;
}

#favoris {
    width: 40%;
}

.err {
    color: $red-color;
}
