<div>
  <form [formGroup]="formMapSearch" (ngSubmit)="onSubmit()" name="ville">
    <input
      type="text"
      formControlName="name"
      placeholder="ville, departement, region"
      required
    />
    <button type="submit">recherhe</button>
    <div class="err"></div>
  </form>
</div>

<div class="map-container">
  <section class="map-frame">
    <div id="map"></div>
  </section>
  <section class="favoris-frame">
    <div class="favorisBlock" *ngIf="showFavoris">
      <ul *ngFor="let favoris of favoritData">
        <!-- <li>
          <button (click)="showStationsByName(favoris.nom,favoris.stations)"></button>
        </li> -->
        <ul>
          <li>{{ favoris.nom }}</li>
          <ul *ngFor="let station of favoris.stations">
            <button (click)="showStationsFavoris(station)">
              {{ station }}
            </button>
          </ul>
        </ul>
      </ul>
    </div>
    <div class="printData" *ngIf="showFavoris == false">
      <div>
        <button (click)="showStationsByName(currentData.city.name)">
          Ajouté aux favoris
        </button>
      </div>
      <ul>
        <p>Info : {{ currentData.city.name }}</p>
        <li>Moyenne indice qualité de l'air : {{ currentData.aqi }} AQI</li>
        <li>Température : {{ currentData.iaqi.t?.v }} °C</li>
        <li>PM 2.5 : {{ currentData.iaqi.pm25?.v }} µ</li>
        <li>PM 10 : {{ currentData.iaqi.pm10?.v }} µ</li>
        <li>Humidité : {{ currentData.iaqi.h?.v }} %</li>
        <li>Pression : {{ currentData.iaqi.p?.v }} hPa</li>
        <li>Vent : {{ currentData.iaqi.w?.v }} km/h</li>
      </ul>
    </div>
  </section>
</div>
