<div>
    <form [formGroup]="formMapSearch" (ngSubmit)="onSubmit()" name="ville">
        <input type="text" formControlName="name" placeholder="ville, departement, region" required>
        <button type="submit">recherhe</button>
        <div class="err">

        </div>
    </form>
</div>

<div class="map-container">
    <section class="map-frame">
        <div id="map"></div>
    </section>
    <section class="favoris-frame">
        <div class="favorisBlock" *ngIf="showFavoris">
            <ul *ngFor="let favoris of favoritData" >
                <li><button (click)="test(favoris.nom)">{{favoris.nom}}</button></li>
            </ul>
        </div>
        <div class="printData" *ngIf="!showFavoris">
            
        </div>
    </section>
</div>  