<div class="formMap">
    <form [formGroup]="formMapSearch" (ngSubmit)="onSubmit()">
        <div>
          <label for="ville_checkbox">Ville :</label>
          <input type="radio" formControlName="radio" id="ville_checkbox" value="ville" name="radio">
          <label for="station_checkbox">Station :</label>
          <input type="radio" formControlName="radio" id="station_checkbox" value="station" name="radio">
        </div>
        <input type="text" formControlName="name" id="name" placeholder="Ville...">
        <button type="submit">Rechercher</button>
        <div class="err">
            
        </div>
        <div class="errorForm" *ngIf="formMapSearch.status === 'INVALID' && this.formSubmitted === true && this.formMapSearch.value.radio === 'ville'" >
            <div *ngIf="formMapSearch.controls['name'].errors?.['required']">
                <span>Veuillez entrer le nom d'une ville</span>
            </div>
            <div *ngIf="formMapSearch.controls['name'].errors?.['minlength'].actualLength < 2">
                <span>Le nom de la ville doit avoir deux caractères minimum</span>
            </div>
        </div>  
    </form>
</div>

<div class="map-container">
  <section class="map-frame">
    <div id="map"></div>
  </section>
  <section class="favoris-frame">
    <!-- list favoris -->
    <div class="favorisBlock" *ngIf="api_map.showFavoris">
      <h3>Vos favoris</h3>
      <ul *ngFor="let favoris of api_map.favoritData let index = index" class="favorisList">
        <li class="FavEntete"(click)="test(index)">
          <p  class="favListTitle">{{ favoris.name }} </p>
          <p class="deroule" [class.off]="index == listID"><svg class="arrowSvg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M374.6 310.6l-160 160C208.4 476.9 200.2 480 192 480s-16.38-3.125-22.62-9.375l-160-160c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 370.8V64c0-17.69 14.33-31.1 31.1-31.1S224 46.31 224 64v306.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0S387.1 298.1 374.6 310.6z"/></svg></p>
        </li>
        <li *ngIf=" index == listID" >
          <ul class="sousList">
            <li  *ngFor="let station of favoris.stations" class="sousListStation" (click)="api_map.showStationsFavoris(station.name)">
            <span  class="stationBtn">
              <p>{{ station.name }}</p>
                <p *ngIf="station.status" style="color: red"> <3 </p>
                <p *ngIf="!station.status"> <3 </p>
            </span>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- end list favoris -->
    <!-- info ville -->
    <div class="printData" *ngIf="api_map.showFavoris == false">
      <div class="buttonAddFav">
        <i class="fa-solid fa-arrow-left" (click)="api_map.showFavori(this.formMapSearch)"></i>
        <i class="fa-regular fa-heart" (click)="api_map.showStationsByName(api_map.currentData.city.name)">
          <span class="tooltiptext">Ajouter aux favoris</span>
        </i>
      </div>
      <div class="printTitle">
        <h3>{{ api_map.currentData.city.name }}</h3>
      </div>
      <div class="printValue">
        <p><span>Moyenne indice qualité de l'air :</span> {{ api_map.currentData.aqi }} AQI</p>
        <p><span>Température :</span> {{ api_map.currentData.iaqi.t?.v }} °C</p>
        <p *ngIf="api_map.currentData.iaqi.pm25 != undefined"><span>PM 2.5 :</span> {{ api_map.currentData.iaqi.pm25?.v }} µ</p>
        <p *ngIf="api_map.currentData.iaqi.pm10 != undefined"><span>PM 10 :</span> {{ api_map.currentData.iaqi.pm10?.v }} µ</p>
        <p *ngIf="api_map.currentData.iaqi.h != undefined"><span>Humidité :</span> {{ api_map.currentData.iaqi.h?.v }} %</p>
        <p *ngIf="api_map.currentData.iaqi.p != undefined"><span>Pression :</span> {{ api_map.currentData.iaqi.p?.v }} hPa</p>
        <p *ngIf="api_map.currentData.iaqi.w != undefined"><span>Vent :</span> {{ api_map.currentData.iaqi.w?.v }} km/h</p>
      </div>
    </div>
    <!-- end info ville -->
  </section>
</div>

<div class="graphics">
  <canvas id="o3Average"></canvas>
  <canvas id="o3MinMax"></canvas>
</div>
