<div class="forum">
  <div class="forumHeader">
    <h2 class="forumHeaderText">Topics</h2>
    <i class="fa-solid fa-plus forumHeaderIcon modal-btn" (click)="openAddModalVisibility()" *ngIf="!isVisitor"></i>
  </div>
  <div class="forumFilAriane">
    <p class="forumFilArianeText">Accueil > Forum > {{rubrique.libelle}}</p>
  </div>
  <div class="formUtility" *ngIf="topics != null">
    <form class="rechercheTopic">
      <input type="text" id="name" placeholder="topic ..">
      <button type="submit">Rechercher</button>
    </form>

    <div class="container">
      <ul class="page">
        <li class="page__btn"><i class="fa-solid fa-angle-left"></i></li>
        <li class="page__numbers active"> 1</li>
        <li class="page__numbers">2</li>
        <li class="page__numbers">3</li>
        <li class="page__numbers">4</li>
        <li class="page__numbers">5</li>
        <li class="page__numbers">6</li>
        <li class="page__dots">...</li>
        <li class="page__numbers"> 10</li>
        <li class="page__btn"><i class="fa-solid fa-angle-right"></i></li>
      </ul>
    </div>
  </div>


  <div class="forumBody">
    <div *ngIf="topics == null">
      <div class="forumBodyItem">
        <h3>Il n'y a aucun topic pour le moment :(</h3>
      </div>
    </div>
    <div *ngFor="let topic of topics">
      <div class="forumBodyItem">
        <div class="forumItemText">
          <h3 [routerLink]="topic.id.toString()">{{ topic.libelle }}</h3>
          <p>Started by: {{ topic.utilisateur.prenom }}</p>
        </div>
        <div class="replays" *ngIf="topic.post == null">
          <span>Réponse : 0</span>
        </div>
        <div class="replays" *ngIf="topic.post != null">
          <span>Réponses : {{topic.post.length}}</span>
        </div>
        <div class="forumItemInfoText" *ngIf="!isVisitor">
          <div class="forumItemIcon">
            <i
              (click)="openVerticale($event, topic.id)"
              [id]="'icon'+topic.id"
              class="fa-solid fa-ellipsis-vertical ellipse"
            ></i>
            <nav id="nav">
              <div class="d-none nav-rubrique " [id]="'topic'+topic.id">
                <div>
                  <ul>
                    <li *ngIf="canUpdateTopic(topic.utilisateur)"><a (click)="openEditModalVisibility(topic.id)">Modifier
                      Topic</a></li>
                    <li><a (click)="deleteTopic(topic.id)">Supprimer Topic</a></li>
                  </ul>
                </div>
                <div class="xContainer">
                  <i
                    (click)="closeVerticale(topic.id)"
                    [id]="'Xicon'+topic.id"
                    class="fa-solid fa-xmark d-none "
                  ></i>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container" *ngIf="topics != null">
    <ul class="page">
      <li class="page__btn"><i class="fa-solid fa-angle-left"></i></li>
      <li class="page__numbers active"> 1</li>
      <li class="page__numbers">2</li>
      <li class="page__numbers">3</li>
      <li class="page__numbers">4</li>
      <li class="page__numbers">5</li>
      <li class="page__numbers">6</li>
      <li class="page__dots">...</li>
      <li class="page__numbers"> 10</li>
      <li class="page__btn"><i class="fa-solid fa-angle-right"></i></li>
    </ul>
  </div>
</div>

<div class="modal-overlay" [class.open-modal]="addModalVisibility">
  <div class="modal-container">
    <div>
      <div>
        <h2>Ajouter Topic</h2>
      </div>
      <div [formGroup]="form">
        <input
          type="text"
          formControlName="libelle"
          placeholder="Nom de Topic"
          required
          minlength="3"
        />
        <div *ngIf="form.status === 'INVALID'">
          <div *ngIf="form.controls['libelle'].errors?.['required']" class="err">
            Le libellé est requis
          </div>
          <div *ngIf="form.controls['libelle'].errors?.['minlength']" class="err">
            Le libellé doit faire 3 caractères au minimum
          </div>
        </div>
      </div>
      <div>
        <button class="annuler-btn" (click)="closeAddModalVisibility()">Annuler</button>
        <button class="valider-btn" type="submit" (click)="createTopic()">Valider</button>
      </div>
    </div>
  </div>
</div>

<div class="modal-overlay" [class.open-modal]="editModalVisibility">
  <div class="modal-container">
    <div>
      <div>
        <h2>Edit Topic</h2>
      </div>
      <div [formGroup]="form">
        <input
          type="text"
          formControlName="libelle"
          [placeholder]="modifiedTopicName"
          required
          minlength="3"
        />
        <div *ngIf="form.status === 'INVALID'">
          <div *ngIf="form.controls['libelle'].errors?.['required']" class="err">
            Le libellé est requis
          </div>
          <div *ngIf="form.controls['libelle'].errors?.['minlength']" class="err">
            Le libellé doit faire 3 caractères au minimum
          </div>
        </div>
      </div>
      <div>
        <button class="annuler-btn" (click)="closeEditModalVisibility()">Annuler</button>
        <button class="valider-btn" type="submit" (click)="updateTopic()">Valider</button>
      </div>
    </div>
  </div>
</div>
